/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
  overflow-y: scroll;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
[role="banner"],
.marketing,
[role="contentinfo"] {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
[role="banner"] {
  border-bottom: 1px solid #e5e5e5;
    /* Make the masthead heading the same height as the navigation */
    h3 {
      margin-top: 0;
      margin-bottom: 0;
      line-height: 40px;
      padding-bottom: 1px;
    }

    img {
      margin-right: 10px;
    }
}

[role="document"] {
  min-height: 450px;
}

.icons {
  font-size: 20px;

    > div {
      display: inline-block;
      margin: 6px;
    }
}

.icon-twitter {
  color: #20ABD3;
}

.icon-facebook {
  color: #4B6498;
}

.icon-meetup {
  color: #E51938;
}

.icon-github-circled {
  color: black;
}

/* Custom page footer */
[role="contentinfo"] {
  padding-top: 20px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 1000px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    text-align: left;
    border-bottom: 1px solid #e5e5e5;

    .btn {
      font-size: 21px;
      padding: 14px 24px;
    }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
    p + h4 {
      margin-top: 28px;
    }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  [role="banner"],
  .marketing,
  [role="contentinfo"] {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  [role="banner"] {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

// Shame

//- Line-height to match bootstrap, as Sass rounds it
.nav-tabs > li > a {
  line-height: 1.428571429;
}
